/*INDEX ORDENADOR*/

body {
    margin: 0;
}

#headix {
    background-image: url(../imagenes/general/banner2.jpg);
    width: 100%;
    height: 100%;
    padding: 10px;
}

#headix h1 {
    color: #d20c0c;
    font-family: 'valorant font';
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headix article {
    padding: 30px;
    padding-right: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 50px;
    letter-spacing: 10px;
    word-spacing: 20px;
}

#headix a {
    color: beige;
    font-family: 'valorant font';
    font-size: 50px;
    transition: .5s ease;
}

#headix nav a:hover {
    color: rgb(191, 14, 14);
    letter-spacing: 20px;
}

#bod {
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 120%;
}

#parche {
    color: beige;
    font-family: 'Machine Font';
    background-color: black;
    border: 2px solid black;
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 19.7px;
    border-radius: 25px;
    margin: 13px;

}

#discord {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 52px;
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 13px;
    height: 598px;
}

.trucos h2 {
    font-family: 'Railway Font';
    color: beige;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trucos {
    margin-top: 60px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 28px;
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
}

.yt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
}


footer {
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer h5 {
    color: bisque;
    text-align: center;
    padding: 15px;

}

#social {
    text-align: center;
}

#social a {
    font-size: 30px;
    margin: 20px;
    color: rgb(191, 14, 14);
    text-decoration: none;

}

#social a:hover {
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 25px;
}

#pag {
    text-align: center;
    margin-top: 20px;
}

#pag a {
    color: bisque;
    padding: 20px;

}


/*INDEX RESPONSIVE*/
@media (max-width:812px) {
    #headix {
        background-image: url(../imagenes/general/banner2.jpg);
        width: 100%;
        height: 100%;
    }

    #headix h1 {
        font-size: 50px;
        text-align: center;
    }

    #headix article {
        padding: 0px;
        padding-right: 50px;
        display: block;
        margin: 5px;
    }

    #headix a {
        font-size: 30px;
    }

    #headix nav a:hover {
        color: rgb(191, 14, 14);
    }

    #bod {
        background-color: rgb(15, 15, 15);
        width: auto;
        height: 3260px;
        margin: 0;
        padding-top: 20px;
    }

    #parche {
        display: block;
    }

    #discord {
        display: flex;
        float: left;
        padding: 10px;
        border-radius: 25px;
        height: 400px;
        margin-bottom: 20px;
    }

    #discord iframe {
        display: flex;
        float: left;
        width: 330px;
        height: 350px;

    }

    .trucos h2 {
        display: block;
        font-size: 30px;
        text-align: center;

    }

    .trucos {
        display: block;
        margin-top: 430;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 25px;
        margin-bottom: 2000px;

    }

    .yt {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 5px;


    }

    .yt iframe {
        width: 320px;
        height: 400px;
    }

    footer{
        background-color: black;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 375px;
    }
    
    footer h5 {
        color: bisque;
        text-align: center;
        padding: 5px;
    }
    
    #social {
        text-align: center;
    }
    
    #social a {
        font-size: 30px;
        margin: 10px;
        color: rgb(191, 14, 14);
        text-decoration: none;
    
    }
    
    #social a:hover {
        background-color: rgb(15, 15, 15);
        padding: 15px;
        border: 2px solid rgb(15, 15, 15);
        border-radius: 25px;
    }
    
    #pag {
        text-align: center;
        margin-top: 30px;
    }
    
    #pag a {
        color: bisque;
        padding: 30px;
    
    }


}

/*MAPAS ORDENADOR*/
#headermap {
    background-color: black;
    padding: 190px;
}

#headermap h1 {
    color: #d20c0c;
    font-family: 'valorant font';
    font-size: 100px;
    display: flex;
    justify-content: center;
    flex-direction: center;
}

#navmap a {
    display: inline;
    justify-content: center;
  flex-direction: row;
    width: 300px;
    height: 230px;
    padding-left: 101px;
}

#navmap a img {
    
    width: 400px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border: 2px solid black;
    border-radius: 25px;
}

#navmap a img:hover {
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(130%);

}

#mapas {
    background-color: rgb(15, 15, 15);
    padding: 10px;
    font-family: 'Machine Font';
}

#mapas h2 {
    color: white;
    font-family: 'Empire Font';
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapas img {
    background-color: rgba(55, 54, 54, 0.577);
    display: inline-block;
    border: 5px solid grey;
    border-radius: 25px;
    margin-left: 10px;

}

#heaven {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}

#split {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}

#bind {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}

#ascent {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}

#heaven p {
    float: right;
    color: white;
    font-size: 18px;
    padding-right: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#split p {
    float: right;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 105px;
}

#bind p {
    float: right;
    font-size: 18px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 45px;
}

#ascent p {
    float: right;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.agentes {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.agentes h4 {
    text-align: center;
}

.agentes p {
    text-align: center;
    padding: 50px;
}

/*MAPAS RESPONSIVE*/
@media (max-width:812px) {
    #headermap {
        padding: 20px;
    }
    
    #headermap h1 {
        font-size: 50px;
    }
    
    #navmap a {
        padding-left: 0px;
    }
    
    #navmap a img {
        width: 200px;
    }
    
    #navmap a img:hover {
        width: 200px;
    }
    
    #mapas {
        padding: 5px;
    }
    
    
    
    #mapas img {
        border: 0px solid grey;
        margin-left: 5px;
        width: 350px;
        height: 230px;
    }
    
   
    
    #heaven p {
        font-size: 14px;
        text-align: center;
        float: none;
        display: block
    
    }
    
    #split p {
        font-size: 14px;
        text-align: center;
        display: inline-block;
    }
    
    #bind p {
        font-size: 14px;
        text-align: center;
        float: none;display: block
    }
    
    #ascent p {
        font-size: 14px;
        text-align: center;
        float: none;display: block
    
    }
    
    .agentes {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .agentes h4 {
        text-align: center;
    }
    
    .agentes p {
        text-align: center;
        padding: 50px;
    }
    
}

/*AGENTES ORDENADOR*/

.agentes {
    color: beige;
}

#headag {
    background-color: rgb(21, 21, 21);
    padding: 5px;
    border: 1px solid black;
    border-radius:5px;
    padding-bottom: 150px;

}

#headag h1 {
    color: hwb(0 5% 18%);
    font-family: 'valorant font';
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}



#navag {
    display: flex;
    justify-content: center;
    align-items: center;

}

#jettag {
    position: relative;
    width: 330px;
    height: 420px;
    transition: all .3s ease;
    margin: 20px;

}

#jettag img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    border-color: rgb(58, 48, 48);

}

#jettag img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(55%);
    transition: .5s ease;
    opacity: 0;

}

#jettag:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

#jettag::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

#jettag:hover::before {
    opacity: 1;

}

#jettag:hover img:last-child {
    opacity: 1;
    transform: translatey(10%)
}

#kayoag {
    position: relative;
    width: 330px;
    height: 420px;
    transition: all .3s ease;
    margin: 20px;

}

#kayoag img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    border-color: rgb(58, 48, 48);

}

#kayoag img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(55%);
    transition: .5s ease;
    opacity: 0;

}

#kayoag:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

#kayoag::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

#kayoag:hover::before {
    opacity: 1;

}

#kayoag:hover img:last-child {
    opacity: 1;
    transform: translatey(10%)
}

#viperag {
    position: relative;
    width: 330px;
    height: 420px;
    transition: all .3s ease;
    margin: 20px;

}

#viperag img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    border-color: rgb(58, 48, 48);

}

#viperag img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(55%);
    transition: .5s ease;
    opacity: 0;

}

#viperag:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

#viperag::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

#viperag:hover::before {
    opacity: 1;

}

#viperag:hover img:last-child {
    opacity: 1;
    transform: translatey(10%)
}

#sageag {
    position: relative;
    width: 330px;
    height: 420px;
    transition: all .3s ease;
    margin: 20px;

}

#sageag img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    border-color: rgb(58, 48, 48);

}

#sageag img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(55%);
    transition: .5s ease;
    opacity: 0;

}

#sageag:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

#sageag::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

#sageag:hover::before {
    opacity: 1;

}

#sageag:hover img:last-child {
    opacity: 1;
    transform: translatey(10%)
}

#cypherag {
    position: relative;
    width: 330px;
    height: 420px;
    transition: all .3s ease;
    margin: 20px;

}

#cypherag img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    border-color: rgb(58, 48, 48);

}

#cypherag img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(55%);
    transition: .5s ease;
    opacity: 0;

}

#cypherag:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

#cypherag::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

#cypherag:hover::before {
    opacity: 1;

}

#cypherag:hover img:last-child {
    opacity: 1;
    transform: translatey(10%)
}


#bodyag {
    background-color: rgb(15, 15, 15);
    padding-bottom: 20px;
}

#agentes h1 {
    color: beige;
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Akira Font';
}

#agentes article div p {
    color: beige;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.roles p {
    color: beige;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    float: right;

}

.roles h3 {
    color: beige;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: black;
    font-family: 'Akira Font';
}

.roles div img {
    display: inline-block;
    border: 5px solid gray;
    border-radius: 25px;
    background-color: black;
    margin: 1px;
}

#controlador p {
    padding-right: 230px;
}

#duelista p {
    padding-right: 120px;
}

#sentinela p {
    padding-right: 10px;
}

#iniciador p {
    padding-right: 120px;
}

/*AGENTES RESPONSIVE*/
@media (max-width: 812px) 
    {
#headag h1{
    font-size: 50px;
    height: 120px;
}
#navag {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jettag {
    position: relative;
    width: 70px;
    height: 90px;
    margin: 2px;
}

#jettag img:first-child {
    object-fit: cover;
    width: 70px;
    height: 90px;
    
}

#jettag img:last-child {
    position: relative;
    width: 30px;
    height: 50px;
    bottom: 70px;
    left: 13px;

}

#jettag:hover {
    transform: perspective(0px) rotateX(0deg) translateY(0%) translateZ(0);
}

#jettag::before {
    height: 30px;
    width: 50px;
}



#jettag:hover img:last-child {
    transform: translatey(0%)
}


#kayoag {
    position: relative;
    width: 70px;
    height: 90px;
    margin: 2px;
}

#kayoag img:first-child {
    object-fit: cover;
    width: 70px;
    height: 90px;
}

#kayoag img:last-child {
    position: relative;
    width: 70px;
    height: 90px;
    bottom: 70px;
    left: 13px;

}

#kayoag:hover {
    transform: perspective(0px) rotateX(0deg) translateY(0%) translateZ(0);
}

#kayoag::before {
    height: 30px;
    width: 50px;
}



#kayoag:hover img:last-child {
    transform: translatey(0%)
}


#viperag {
    position: relative;
    width: 70px;
    height: 90px;
    margin: 2px;
}

#viperag img:first-child {
    object-fit: cover;
    width: 70px;
    height: 90px;
}

#viperag img:last-child {
    position: relative;
    width: 30px;
    height: 50px;
    bottom: 70px;
    left: 13px;

}

#viperag:hover {
    transform: perspective(0px) rotateX(0deg) translateY(0%) translateZ(0);
}

#viperag::before {
    height: 30px;
    width: 50px;
}



#viperag:hover img:last-child {
    transform: translatey(0%)
}


#sageag {
    position: relative;
    width: 70px;
    height: 90px;
    margin: 2px;
}

#sageag img:first-child {
    object-fit: cover;
    width: 70px;
    height: 90px;
}

#sageag img:last-child {
    position: relative;
    width: 30px;
    height: 50px;
    bottom: 70px;
    left: 13px;

}
#sageag:hover {
    transform: perspective(0px) rotateX(0deg) translateY(0%) translateZ(0);
}
#sageag::before {
    height: 30px;
    width: 50px;
}
#sageag:hover img:last-child {
    transform: translatey(0%)
}


#cypherag {
    position: relative;
    width: 70px;
    height: 90px;
    margin: 5px;
}

#cypherag img:first-child {
    width: 70px;
    height: 90px;
}

#cypherag img:last-child {
    position: relative;
    width: 30px;
    height: 50px;
    bottom: 70px;
    left: 13px;

}
#cypherag:hover {
    transform: perspective(0px) rotateX(0deg) translateY(0%) translateZ(0);
}
#cypherag::before {
    height: 30px;
    width: 50px;
}
#cypherag:hover img:last-child {
    transform: translatey(0%)
}
  
#bodyag {
    background-color: rgb(15, 15, 15);
    padding-bottom: 20px;
    height: 1300px;
}

#agentes h1 {
    font-size: 25px;
}

#agentes article div p {
    font-size: 15px;
text-align: center;
}


.roles p {
    color: beige;
    font-size: 15px;
    float: right;
    text-align: center;

}

.roles h3 {
    color: beige;
    font-size: 15px;
}

.roles div img {
    border: 5px solid black;
    width: 60px;
    height: 50px;
}

#controlador p {
    padding-right: 0px;
}

#duelista p {
    padding-right: 0px;
}

#sentinela p {
    padding-right: 0px;
}

#iniciador p {
    padding-right: 0px;
}


   
}



/*ARSENAL ORDENADOR*/
#headars {
    height: 700px;
    background-color: black;
    border: 5px solid black;
}

#headars h1 {
    color: #d20c0c;
    font-family: 'valorant font';
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
    letter-spacing: 20px;
}

#headars h3 {
    color: beige;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

#bodarm {
    margin: 0;
    padding: 0;
    background-color: rgb(21, 21, 21);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial;
}

#grid-layout {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 97.8%;
    margin: 0 auto;
    background-color: rgb(21, 21, 21);
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;

}

.wrapper {
    background-color: black;
    border: 4px solid black;
    border-radius: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
    margin: 10px;
}

.content {
    overflow: hidden;
    background-color: black;
    ;
    opacity: 0;
    transition: opacity 0.3s;
}

.img:hover:hover .content {
    opacity: 1;
}

.content h1 {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;

}

.img:hover .content h1 {
    margin-left: 115px;
}

.content p {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    transition:  0.4s;
}

.img:hover .content p {
    margin-top: 75px;
}

/*ARSENAL RESPONSIVE*/
@media (max-width:762px) {

    #headars {
        height: 500px;
        background-color: black;
        border: 5px solid black;
    }

    #headars h1 {
        font-size: 50px;
        padding-top: 50px;
        letter-spacing: 20px;
    }

    #headars h3 {
        font-size: 30px;
        padding-top: 50px;
    }

    #bodarm {
        margin: 0;
        padding: 0;
    }

    #grid-layout {
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        padding: 0px;
    }

    .wrapper {
        padding: 1px;
    }

}
/*GLOSARIO ORDENADOR*/
#headglo {
    background-color: black;
    border: 5px solid black;
    color: gray;
    padding-bottom: 70px;
    border: 2px solid black;

}

#headglo h1 {
    font-family: 'valorant font';
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    padding-top: 20px;
}

#headglo p {
    font-size: 30px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

#bodglo {
    background-color: rgb(21, 21, 21);
    color: whitesmoke;
    width: 100%;
    height: 1400px;
    padding-left: 5px;
    padding-top: 40px;

}

#bodglo h3 {
    text-align: center;
}

.def {
    padding-left: 20px;
    padding-bottom: 20px;
}

#eco {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#retake {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#rush {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#defusando {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#pekea {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#corta {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#wallbang {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#main {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#filleo {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#forzar {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

#baitear {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

/* GLOSARIO RESPONSIVE*/
@media (max-width:812px) {


    #headglo h1 {
        font-family: 'valorant font';
        font-size: 40px;
        text-align: center;
        padding-top: 50px;
    }

    #headglo p {
        font-size: 15px;

    }

    #bodglo {
        background-color: rgb(21, 21, 21);
        color: beige;
        width: 100%;
        height: 1800px;
        padding-left: 5px;
        padding-top: 40px;
        padding-bottom: 30px;

    }

    #bodglo h3 {
        text-align: center;
    }


}

/*Jett,Cypher,Kayo,Sage,Viper ORD*/
#head {
    background-color: black;
}

#head img {
    display: inline;
    justify-content: center;
    flex-direction: row;
    padding-left: 100px;
}

#head h1 {
    color: #d20c0c;
    text-align: center;
    font-size: 100px;
    font-family: 'valorant font';
}

#body {
    color: beige;
    background-color: rgb(15, 15, 15);
    text-align: center;
    padding-top: 20px;
    height: 3000px;

}

#bio {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
}

#bio h2 {
    font-family: 'valorant font';
}

#rol {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 20px;
}

#rol h2 {
    font-family: 'valorant font';

}

#hab {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 20px;
}

#hab h2 {
    font-family: 'valorant font';

}

#Q {
    border: 2px solid rgb(15, 15, 15);
    border-radius: 25px;
    margin: 10px;
}

#Q h3 {
    font-family: 'valorant font';

}

#E {

    border: 2px solid rgb(15, 15, 15);
    border-radius: 25px;
    margin: 10px;
}

#E h3 {
    font-family: 'valorant font';

}

#C {

    border: 2px solid rgb(15, 15, 15);
    border-radius: 25px;
    margin: 10px;
}

#C h3 {
    font-family: 'valorant font';

}

#X {
    border: 2px solid rgb(15, 15, 15);
    border-radius: 25px;
    margin: 10px;
}

#X h3 {
    font-family: 'valorant font';

}

#tr {
    background-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 20px;

}

#tr h2 {
    font-family: 'valorant font';

}

.slider-frame {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    border: 2px solid red;
    border-radius: 25px;

}

.slider-frame ul {
    display: flex;
    padding-left: 260px;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 50%;
    list-style: none;
}

.slider-frame img {
    width: 50%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*Jett,Kayo,Viper,Sage,Cypher RESPONSIVE*/
@media (max-width:812px) {
    #head img {
        display: inline;
        justify-content: center;
        flex-direction: row;
        padding-left: 0px;
        width: 170px;
        height: 120px;
    }

    #head h1 {
        color: #d20c0c;
        text-align: center;
        font-size: 50px;
    }
    #body {
        height: 2600px;
    
    }
    #Q video {
        height: 250px;
        width: 300px;
    }

    #E video {
        height: 250px;
        width: 300px;
    }

    #C video {
        height: 250px;
        width: 300px;
    }

    #X video {
        height: 250px;
        width: 300px;
    }

    #tr iframe {
        height: 250px;
        width: 300px;
    }

    .slider-frame {
        width: 370px;
    height: 150;
    margin: 0 0 0;
    }

    .slider-frame ul {
        display: flex;
        padding-left: 120px;
        animation: slide 16s infinite alternate ease-in-out;
    }

    .slider-frame li {
        width: 50%;
        list-style: none;
    }

    .slider-frame img {
        width: 50%;
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }

    }

    #footer {
        width: 425px;
    }

}