

#headag {
    background-color: rgb(21, 21, 21);
    padding: 5px;
    border: 1px solid black;
    border-radius:5px;
    padding-bottom: 150px;
    h1 {
        color: hwb(0 5% 18%);
        font-family: 'valorant font';
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    #navag {
        display: flex;
        justify-content: center;
        align-items: center;
        #jettag {
            position: relative;
            width: 330px;
            height: 420px;
            transition: all .3s ease;
            margin: 20px;
        
        }
        
        #jettag img:first-child {
            box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
            border-radius: 25px;
            border-color: rgb(58, 48, 48);
        
        }
        
        #jettag img:last-child {
            position: absolute;
            width: 200px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(55%);
            transition: .5s ease;
            opacity: 0;
        
        }
        
        #jettag:hover {
            transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
        }
        
        #jettag::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
        }
        
        #jettag:hover::before {
            opacity: 1;
        
        }
        
        #jettag:hover img:last-child {
            opacity: 1;
            transform: translatey(10%)
        }
        #kayoag {
            position: relative;
            width: 330px;
            height: 420px;
            transition: all .3s ease;
            margin: 20px;
        
        }
        
        #kayoag img:first-child {
            box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
            border-radius: 25px;
            border-color: rgb(58, 48, 48);
        
        }
        
        #kayoag img:last-child {
            position: absolute;
            width: 200px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(55%);
            transition: .5s ease;
            opacity: 0;
        
        }
        
        #kayoag:hover {
            transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
        }
        
        #kayoag::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
        }
        
        #kayoag:hover::before {
            opacity: 1;
        
        }
        
        #kayoag:hover img:last-child {
            opacity: 1;
            transform: translatey(10%)
        }
        #viperag {
            position: relative;
            width: 330px;
            height: 420px;
            transition: all .3s ease;
            margin: 20px;
        
        }
        
        #viperag img:first-child {
            box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
            border-radius: 25px;
            border-color: rgb(58, 48, 48);
        
        }
        
        #viperag img:last-child {
            position: absolute;
            width: 200px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(55%);
            transition: .5s ease;
            opacity: 0;
        
        }
        
        #viperag:hover {
            transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
        }
        
        #viperag::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
        }
        
        #viperag:hover::before {
            opacity: 1;
        
        }
        
        #viperag:hover img:last-child {
            opacity: 1;
            transform: translatey(10%)
        }
        
        #sageag {
            position: relative;
            width: 330px;
            height: 420px;
            transition: all .3s ease;
            margin: 20px;
        
        }
        #sageag img:first-child {
            box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
            border-radius: 25px;
            border-color: rgb(58, 48, 48);
        
        }
        
        #sageag img:last-child {
            position: absolute;
            width: 200px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(55%);
            transition: .5s ease;
            opacity: 0;
        
        }
        
        #sageag:hover {
            transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
        }
        
        #sageag::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
        }
        
        #sageag:hover::before {
            opacity: 1;
        
        }
        
        #sageag:hover img:last-child {
            opacity: 1;
            transform: translatey(10%)
        }
        
        #cypherag {
            position: relative;
            width: 330px;
            height: 420px;
            transition: all .3s ease;
            margin: 20px;
        
        }
        
        #cypherag img:first-child {
            box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
            border-radius: 25px;
            border-color: rgb(58, 48, 48);
        
        }
        
        #cypherag img:last-child {
            position: absolute;
            width: 200px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(55%);
            transition: .5s ease;
            opacity: 0;
        
        }
        
        #cypherag:hover {
            transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
        }
        
        #cypherag::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
        }
        
        #cypherag:hover::before {
            opacity: 1;
        
        }
        
        #cypherag:hover img:last-child {
            opacity: 1;
            transform: translatey(10%)
        }
        
    }
}




#bodyag {
    background-color: rgb(15, 15, 15);
    padding-bottom: 20px;
    h1 {
        color: beige;
        font-size: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Akira Font';
    }
    h3 {
        color: beige;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 25px;
        background-color: black;
        font-family: 'Akira Font';
    }
}


#agentes {
         article {
            div {
                p{ 
    color: beige;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
                
            }
        }
    }        
    
  .roles{
    p{
        color: beige;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    float: right; 
    }
    img{
        display: inline-block;
        border: 5px solid gray;
        border-radius: 25px;
        background-color: black;
        margin: 1px;
    }
  }          
 
.roles{
    #controlador p {
        padding-right: 230px;
    }
    #duelista p {
        padding-right: 120px;
    }
    
    #sentinela p {
        padding-right: 10px;
    }
    
    #iniciador p {
        padding-right: 120px;
    }
}
