*{
    margin:0;
}

#headix{
    background-image: url(../imagenes/general/banner2.jpg);
    width: 100%;
    height: 100%;
    padding: 10px;
    h1{
        color: #d20c0c;
        font-family: 'valorant font';
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article{
        padding: 30px;
        padding-right: 50px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        margin: 50px;
        letter-spacing: 10px;
        word-spacing: 20px;
    }
    a{ 
        color: beige;
        font-family: 'valorant font';
        font-size: 50px;
        transition: .5s ease;
       
    }
    nav a:hover{ color: rgb(191, 14, 14);
        letter-spacing: 20px;}
    
}
#bod{
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 120%;
    #parche{
        color: beige;
        font-family: 'Machine Font';
        background-color: black;
        border: 2px solid black;
        display: inline-block;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 19.7px;
        border-radius: 25px;
        margin: 13px;
    }
    #discord{
        float: right;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 52px;
        background-color: black;
        border: 2px solid black;
        border-radius: 25px;
        margin: 13px;
        height: 598px;
    }
    .trucos{ margin-top: 60px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 28px;
        background-color: black;
        border: 2px solid black;
        border-radius: 25px;
        h2{
            font-family: 'Railway Font';
    color: beige;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
        }            
    }

.yt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
}

}
footer{
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    h5{
        color: bisque;
    text-align: center;
    padding: 15px; 
    }

 #social{
    text-align: center;

    a{
        font-size: 30px;
        margin: 20px;
        color: rgb(191, 14, 14);
        text-decoration: none;
       
    }
    a:hover{
        background-color: rgb(15, 15, 15);
        padding: 15px;
        border: 2px solid rgb(15, 15, 15);
        border-radius: 25px;
    }
    
    }   
    #pag {
        text-align: center;
        margin-top: 20px;
        a {
            color: bisque;
            padding: 20px;
        
        }
    }

    }
    @media (max-width:812px) {
        #headix {
            background-image: url(../imagenes/general/banner2.jpg);
            width: 100%;
            height: 100%;
        }
    
        #headix h1 {
            font-size: 50px;
            text-align: center;
        }
    
        #headix article {
            padding: 0px;
            padding-right: 50px;
            display: block;
            margin: 5px;
        }
    
        #headix a {
            font-size: 30px;
        }
    
        #headix nav a:hover {
            color: rgb(191, 14, 14);
        }
    
        #bod {
            background-color: rgb(15, 15, 15);
            width: auto;
            height: 3260px;
            margin: 0;
            padding-top: 20px;
        }
    
        #parche {
            display: block;
        }
    
        #discord {
            display: flex;
            float: left;
            padding: 10px;
            border-radius: 25px;
            height: 400px;
            margin-bottom: 20px;
        }
    
        #discord iframe {
            display: flex;
            float: left;
            width: 330px;
            height: 350px;
    
        }
    
        .trucos h2 {
            display: block;
            font-size: 30px;
            text-align: center;
    
        }
    
        .trucos {
            display: block;
            margin-top: 430;
            padding-right: 0px;
            padding-left: 0px;
            border-radius: 25px;
            margin-bottom: 2000px;
    
        }
    
        .yt {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 5px;
    
    
        }
    
        .yt iframe {
            width: 320px;
            height: 400px;
        }
    
        footer{
            background-color: black;
            text-align: center;
            padding-bottom: 5px;
            padding-top: 5px;
            width: 375px;
        }
        
        footer h5 {
            color: bisque;
            text-align: center;
            padding: 5px;
        }
        
        #social {
            text-align: center;
        }
        
        #social a {
            font-size: 30px;
            margin: 10px;
            color: rgb(191, 14, 14);
            text-decoration: none;
        
        }
        
        #social a:hover {
            background-color: rgb(15, 15, 15);
            padding: 15px;
            border: 2px solid rgb(15, 15, 15);
            border-radius: 25px;
        }
        
        #pag {
            text-align: center;
            margin-top: 30px;
        }
        
        #pag a {
            color: bisque;
            padding: 30px;
        
        }
    
    
    }
    